/* Start of CSS*/

body {
    background: #d6d6d6;
    background: -webkit-linear-gradient(170deg, hsla(282, 100%, 7%, 1) 0%, hsla(283, 99%, 64%, 1) 10%, hsla(283, 90%, 68%, 0.9) 15%, hsla(282, 71%, 74%, 0.7) 22%, hsla(283, 36%, 80%, 0.8) 30%, hsla(105, 11%, 85%, 0.9) 36%, hsla(0, 0%, 100%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1A0025", endColorstr="#CA48FE", GradientType=1);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.header {
    overflow: hidden;
    background: linear-gradient(to right, hsla(0, 0%, 100%, 1) 28%, hsla(0, 0%, 100%, 0.025) 64%, hsla(293, 87%, 75%, 0.05) 77%, hsla(293, 100%, 46%, 0.1) 86%, hsla(0, 0%, 0%, .25) 100%);
    padding: 20px 10px;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 2px -2px black;
}

.header .wpmain {
    font-size: XX-Large;
    font-variant: small-caps;
    font-weight: bold;
    color: #0c0c0c;
}

.wpmain:hover {
    box-shadow: inset -1px -1px 1px rgba(232, 102, 236, 1), 0 5px 20px rgb(0, 0, 0);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.header a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: x-large;
    font-weight: 500;
    -webkit-text-stroke: .5px rgb(36, 36, 36);
    line-height: 25px;
    border-radius: 4px;
}

.header-right {
    float: right;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, .15);
    text-decoration: underline;
    border-radius: 8px;
    transition: all 0.75s ease-in-out;
}

header a.active {
    border-left: 1px solid black;
    border-radius: 0;
}


/*Main Section -- Everything under the <header>*/

main {
    max-width: 100%;
    margin: 5em auto;
    padding: 0 3em 1.5em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    Font-family: 'Roboto', sans-serif;
}


/*Keeping consistent header look and spacing*/

section h1,
section.normal h1 {
    font-size: x-large;
    font-family: 'roboto', sans-serif;
    margin-left: 1em;
}


/* sections pertains to About Me and Contact*/

section.normal {
    background-color: rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 20px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 1em;
}

aside {
    border-right: 5px solid black;
    grid-column-start: 1;
    grid-column-end: 1;
    padding: 5%
}

aside img {
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
    margin: 0 15% 10%;
    max-width: 80%;
}

.content {
    font-family: 'Roboto Thin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: x-large;
    padding: 5%;
    margin-top: -5%;
}


/* Previous Work Main Card Grid*/

section {
    background-color: rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 1em;
}


/* Grid spacing out previous project cards */

.wrkgrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2em;
    margin-bottom: 5%;
}


/*Item specific grid layout*/

.item-1 {
    grid-column: 2 / 7;
}

.item-2 {
    grid-row: 2;
    grid-column: 1 / 4;
    margin: 0 -4em 0 4em;
}

.item-2 img,
.item-3 img {
    min-height: 375px;
}

.item-3 {
    grid-row: 2;
    grid-column: 5 / 8;
    margin: 0 4em 0 -4em
}


/* CARD attricbutes*/

.card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.card article {
    padding: 0 5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.thumb {
    padding: 2%;
}

.thumb img {
    max-width: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
}


/* Gives top project different spacing*/

.proj1 {
    margin-bottom: 5%;
}


/* Contact page styling*/

.content ul {
    list-style-type: none;
    margin: -10% 0 0 0;
}

ul img {
    max-width: 10%;
    margin: 1% 3% -3% -5%;
    padding-top: 5%;
}

li {
    background-color: rgba(0, 0, 0, .25);
    margin: 2%;
    border-radius: 20px;
    text-align: center;
    max-width: 60%;
}

li a {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    line-height: 3;
}


/*fancy transitions and animations*/

.thumb img:hover {
    top: -2px;
    box-shadow: 0 10px 50px rgba(155, 0, 116, 0.438);
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

li:hover {
    top: -2px;
    box-shadow: inset 3px 3px 5px 6px #ccc;
}

li a::after {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: black;
    line-height: 1.5;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* styles for narrow screens */
    .header .wpmain {
        border-bottom: 1.5px solid black;
        border-radius: 0;
    }
    .header a.active {
        border: none;
    }
    .header a {
        float: none;
        display: block;
        text-align: center;
    }
    .header-right {
        float: none;
    }
    .work {
        width: 90%;
        max-width: 1240px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }
    .card {
        background: white;
        text-decoration: none;
        color: #444;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        max-width: 95%;
        position: relative;
        top: 0;
        transition: all .1s ease-in;
    }
    .wrkgrid {
        display: grid;
        gap: 1em;
        margin-bottom: 0%;
    }
    .item-1 a {
        max-width: 100%;
    }
    .item-2 {
        margin: 0;
        width: 275px;
        margin-left: 1em;
    }
    .item-3 {
        margin: 0;
        width: 275;
    }
    img.thumb {
        max-width: 100%;
        min-height: 0;
        margin: 1% 1%;
    }
    span {
        margin: 0 0 10% 0;
    }
}