body {
    background: #d6d6d6;
    /* background: -webkit-linear-gradient(to right, #080808, #554961, #c695fa, #faf0ff, #FFFFFF, #FFFFFF, #faf0ff, #c695fa, #554961, #080808);
        background: linear-gradient(42deg, rgba(2, 0, 36, 1) 9%, rgba(167, 13, 177, 1) 11%, rgba(0, 0, 0, 1) 13%, rgba(0, 212, 255, 1) 15%, rgba(0, 0, 0, 1) 18%, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 100%);
        background-repeat: no-repeat;
        background-size: 100%; */
}

header {
    width: 100%;
    height: fit-content;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}


/* Flex parent to <h1 main> & <nav> */

.headerbg {
    height: inherit;
    display: inline-flex;
    justify-content: space-between;
    background-image: url('/assets/images/Banner-1280.png');
    background-size: cover;
}

.wpmain {
    flex: 0 2 50%;
    font-variant: small-caps;
    font-size: 48px;
    color: #ffffff;
}

nav {
    flex: 2 2 10%;
}


/* Nav list font styles */

ul li a {
    color: white;
    font-family: 'Roboto Thin', sans-serif;
    font-size: larger;
    text-decoration: none;
}

.pglinks {
    list-style: none;
    padding: .5em;
    min-width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    justify-content: space-evenly;
}


/* nav list button appearance */

#navabout {
    order: 1;
    flex: 0 1 30%;
    /* align-self: center; */
    border: 1px solid magenta;
    background: linear-gradient(35deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 0, 174, .1) 70%, rgba(255, 0, 174, .75) 90%);
}

#navwork {
    order: 2;
    flex: 0 1 30%;
    /* align-self: center; */
    border: 1px solid magenta;
    background: linear-gradient(rgb(0, 0, 0, .25) 0%, rgba(0, 0, 0, 1) 90%);
}

#navcontact {
    order: 3;
    flex: 0 0 30%;
    /* align-self: flex-end; */
    border: 1px solid magenta;
    background: linear-gradient(35deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.75) 50%, rgb(0, 0, 0, .9)100%);
}


/* Transitions on hover */

.pglinks:hover {
    color: #ffffff;
    text-decoration: none;
}

.main {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 3em 1.5em;
}


/* Media Queries */

@media only screen and (max-width: 1280) {
    /* styles for wide screens */
}

@media only screen and (max-width: 768px) {
    /* styles for narrow screens */
    .headerbg {
        height: inherit;
        display: block;
        background-image: url('/assets/images/Banner-768.png');
        background-size: cover;
    }
    .pglinks {
        display: inline-flex;
        justify-self: center;
        align-self: center;
        align-items: center;
        align-items: center;
        justify-content: space-evenly;
        flex: 0 2 100%;
    }
    nav ul {
        border: 1px solid rgb(212, 20, 20);
        list-style: none;
        margin-top: 0%;
        padding: 0%;
    }
}